{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Address:deleteAddress{% endblock %}

{% block body %}
<h1>Welcome to the Address:deleteAddress page</h1>
{% endblock %}
