{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:PersonGroup:addGroup{% endblock %}

{% block body %} 
    <div class="container">
        {{ parent() }}   
        
        <div class='input-group-addon'>
            <h3>Dodaj nową grupę </h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
