{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Person:addPerson{% endblock %}

{% block body %} 
    <div class="container">
        {{ parent() }}   
        <h3>Dodaj nową osobę </h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <div/>
{% endblock %}
