{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Person:deletePerson{% endblock %}

{% block body %}
<h1>Welcome to the Person:deletePerson page</h1>
{% endblock %}
