{% extends "ContactBoxBundle:Person:base.html.twig" %}

{% block title %}ContactBoxBundle:Person:index{% endblock %}

{% block body %} 
    <div class="container">
        {{ parent() }}   

        <h3>Działające funkcjonalności: </h3>
        - wyświetlanie wszystkich osób (alfabetycznie wg. nazwiska), <br/>
        - kazda osoba ma guzik do edycji i usunięcia, <br/>
        - po kliknięciu w imię osoby jest dostęp do szczegółów, <br/>
        - działa wyświetlanie wszystkich danych, <br/>
        - działa link do edycji danych, <br/>
        - działa usunięcie osoby (usuwanie ze wszystkimi adresami, telefonami i adresami e-mail), <br/>
        - działa edycja danych, włącznie z dodawaniem/usuwaniem maili, adresów, telefonów, <br/>
        - tworzenie grup, <br>
        - strona wyświetlania grup, <br/>

        <h3>Funkcjonalności do wprowadzenia:</h3>
        - możliwość dodania osoby do wielu grup, <br/>
        - wyszukiwanie osób po imieniu lub nazwisku. <br/>

    </div>
{% endblock %}
